include partials/header
section.home-slider.owl-carousel
    .slider-item(style=" min-height: 5px; background-image: url('/images/bg_2.jpg');")
// ================ Start banner Area =================
section.banner-area.relative
.container
    .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6.offset-3
            h1(style="color:orange;") User Admin
            hr
            .breadcrmb
                p
                    a(href='index.html' style="color:orange;") Databases
                    span.lnr.lnr-arrow-right
                    a(href='about.html' style="color:orange;") From  ../models
                    a(href='/contactDatabase' style="color:black;")
                        li Contact Database
                    a(href="/eventDatabase" style="color:black;")
                        li Event Database
                    a(href="/userDatabase" style="color:black;")
                        li User Database


.row
    .col-lg-6.offset-3
        form.d-block(action=`/event/update/${event.id}` method='post')
            .fields.d-block
                .book-date.one-third
                    label(for='check-in') Check in:
                    input#checkin_date.form-control(type='text' name="CheckIn" placeholder='M/D/YYYY' value=event.CheckIn)
                .book-date.one-third
                    label(for='check-out') Check out:
                    input#checkout_date.form-control(type='text' name="CheckOut" placeholder='M/D/YYYY' value=event.CheckOut)
                .one-third
                    label(for='Guest') Guest:
                    .select-wrap
                        .icon
                            span.ion-ios-arrow-down
                        select.form-control(name='Guests' id='')
                            option(value=event.Guests)= `${event.Guests}`
                            option(value='1') 1
                            option(value='2') 2
                            option(value='3') 3
                            option(value='4+') 4+
            input.search-submit.btn.btn-primary(type='submit' value='Update Booking')
include partials/footer
